// Variables
// $primary: #38424b;
// $secondary: #98A2AB;

// @import 'bootstrap/scss/bootstrap.scss';
// @import 'bootstrap-vue/dist/bootstrap-vue.css';

// Generic style
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	background-color: #007bff !important;
}

// Custom modal size
.modal-dialog.modal-90 {
	max-width: 90% !important;
	.table .text-right {
		// override since in the header part this is just being ignored
		text-align: right !important;
	}
}

.modal-80 {
	max-width: 80% !important;
}
.modal-90 {
	max-width: 90% !important;
}
.modal-95 {
	max-width: 95% !important;
}